*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /* font-family: 'Inter', sans-serif; */
    background-color: #FDFCFC;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav-bar{
    width: 945px;
    margin: 32.99px auto;
    gap: 154.64px;
}

.menu-list {
    display: flex;
    gap: 155.65px;
    cursor: pointer;
    list-style-type: none;

}

.menu-item{
    text-decoration: none;
    color: #828282;
}

.menu-list li .menu-item:first-child {
    color: black;
}

.main-vector{
    margin-top: 27.92px;
}

.hero-section{
    width: 943.61px;
    margin: 40.19px auto;
}

.hero-heading{
    width: 123.51px;
    text-transform: uppercase;
}