*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FDFCFC;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav-bar{
    position: relative;
    display: flex;
    width: 1200px;
    margin: 44px auto;
    /* gap: 154.64px; */
}

.nav-image{
    width: 32.18px;
    margin-right: 11.3px;
}

.logo{
    display: flex;
    width: 100.48px;
    margin-right: 102px;
    cursor: pointer;
}

.logo-link{
    font-weight: 400;
    text-decoration: none;
    color:#000000;
}

.nav-search{
    width: 690px;
    height: 40px;
    margin-right: 87px;
    border: solid 1px #D9D9D9;
}

.nav-search-icon{
    position: absolute;
    left: 212px;
    top: 12px;

}

.nav-search-input{
    width: 646px;
    height: 24px;
    margin: 8px 12px 8px 32px; 
    border: none;
    color: #BFBFBF;
}

.button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.button-login{
    margin-right: 10px;
}





/* .menu-list {
    display: flex;
    gap: 155.65px;
    cursor: pointer;
    list-style-type: none;

}

.menu-item{
    text-decoration: none;
    color: #828282;
}

.menu-list li .menu-item:first-child {
    color: black;
}

.main-vector{
    margin-top: 27.92px;
}

.hero-section{
    width: 943.61px;
    margin: 40.19px auto;
}

.hero-heading{
    width: 123.51px;
    text-transform: uppercase;
} */